# Generic ignores
*.log
*.log.*
*.db
*.db-shm
*.db-wal
*.pyc
._*
__pycache__
*.token
*.conf
*.HA_VERSION

# Directory (contents) ignores
.cloud
.storage
.ssh
deps

# Specific file ignores
core
image
ip_bans.yaml
secrets.yaml
harmony_*.conf
google_calendars.yaml
known_devices.yaml
alarm.yaml
watchmen_report.txt

# Build-in blueprints ignores
blueprints/*

# Ignore add-on files
notebooks
nest
zigbee2mqtt
tts

# Ignore files created by IDE's
.vscode
.Trash*

# Ignore vendored stuff
themes
www/images/people/*.jpeg

# Specific keeps
!.gitkeep
!*.md

# Temporary ignores
.old_config